# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Prisma
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# Supabase
VITE_SUPABASE_URL="https://<PROJECT_ID>.supabase.co"
VITE_SUPABASE_ANON_KEY="ey<ANON_KEY>"
SUPABASE_SERVICE_ROLE_KEY="ey<SERVICE_ROLE_KEY>"

# App
APP_URL="http://localhost:3000"
SESSION_SECRET=a-sufficiently-long-secret-ideally-32-characters-or-more
COOKIE_SECRET=a-sufficiently-long-secret-ideally-32-characters-or-more
RESEND_API_KEY="re_..."

# Supabase Storage via S3 compatible API
STORAGE_ACCESS_KEY_ID="ey<ACCESS_KEY>"
STORAGE_SECRET_ACCESS_KEY="ey<SECRET_KEY>"
STORAGE_REGION="us-east-1"
SUPABASE_PROJECT_ID="project-id" # project ref

# Stripe
HONEYPOT_SECRET="<your-honeypot-secret>"
STRIPE_SECRET_KEY="sk_test_<SECRET_KEY>"
STRIPE_WEBHOOK_SECRET="whsec_<WEBHOOK_SECRET>"
